body {
    background-color: rgb(34, 32, 32);
    color: white;
    padding: 5px 25px;
}

h1 {
    font-size: 80px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 15px;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 15px;
}

.recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

@media only screen and (max-width: 600px) {
    .recipes {
        display: grid;
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 50px;
    }
}

.recipe-card {
    padding: 15px 15px 0px 15px;
    width: 85%;
    max-width: 350px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    color: rgb(34, 32, 32);
    font-size: 20px;
    background-color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin-top: -20px;
    margin-bottom: -20px;
    border-radius: 15px;
    font-weight: bold;
}

a:hover {
    background-color: #c06403;
    color: white;
}